body{
    margin: 0; 
    padding: 0;
}
#hero-banner{
    background-image: url(../images/hero-banner.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.row{
    margin:0px;
}
.portfolio-content{
    max-width: 80%;
    margin:auto;
}
/* accordion section styling */
#accSection{
    margin-bottom: 10px;
}
#conSection {
    min-width:150px;
    width: 100%;
}

/* fixing overflow option at lower page width*/
#aboutInfo, #portfolioInfo{
    overflow: hidden;
}