#hero-banner{
    background-image: url(../images/hero-banner.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row{
    margin:0px;
}
.portfolio-content{
    width: 1080px;
    margin:auto;
}