body{
    margin: 0; 
    padding: 0;
}

#hero-banner{
    background-image: url(../images/hero-banner.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.display-4, .lead {
    color: rgba(111, 203, 253, 1);
    text-shadow: 0px 2px 3px black;
}
.row{
    margin:0px;
}
.portfolio-content{
    max-width: 80%;
    margin:auto;
}
/* accordion section styling */
#accSection{
    margin-bottom: 10px;
}
#conSection {
    min-width:150px;
    width: 100%;
    
}
/* fixing overflow option at lower page width*/
#aboutInfo, #portfolioInfo{
    overflow: hidden;
    background-color: rgba(247, 152, 140, 1);
}
.conStyle {
    background-color: rgba(247, 152, 140, 1);
    color: black;
    
}
.btn-link{
    color: white;
}
.btn-link:hover {
    color: rgba(111, 203, 253, 1);
}
.contact-link{
    color: rgba(62, 109, 191,1);
}
.contact-link:active{
    color:black;
    background-color: white;
}
#projCarousel{
    /* min-height: 400px; */
}